Repository cryspen/hax, pull requests merged in 2023-04, with the labels that each got.

#38 Coq backend update
  engine/backends/coq/coq_backend.ml
  engine/lib/import_thir.ml
  engine/utils/hacspeclib-macro-parser/hacspeclib_macro_parser.ml
  setup.sh
Labels: enhancement, backend, coq

#6 Ec backend
  cli/src/common/options.rs
  engine/backends/easycrypt/dune
  engine/backends/easycrypt/easycrypt_backend.ml
  engine/bin/dune
  engine/bin/main.ml
Labels: backend, P1

#64 Engine: improve diagnostics
  Cargo.toml
  engine/lib/desugar_direct_and_mut.ml
  engine/lib/desugar_drop_references.ml
  engine/lib/desugar_early_exit.ml
  engine/lib/desugar_mutable_variable.ml
  engine/lib/feature_gate.ml
  engine/lib/subtype.ml
  engine/utils/ocaml_of_json_schema/ocaml_of_json_schema.js
  engine/utils/ocaml_of_json_schema/test/README.md
  engine/utils/ocaml_of_json_schema/test/ocaml/bin/dune
  engine/utils/ocaml_of_json_schema/test/ocaml/bin/main.ml
  engine/utils/ocaml_of_json_schema/test/ocaml/dune-project
  engine/utils/ocaml_of_json_schema/test/rust/Cargo.lock
  engine/utils/ocaml_of_json_schema/test/rust/Cargo.toml
  engine/utils/ocaml_of_json_schema/test/rust/src/lib.rs
  engine/utils/ocaml_of_json_schema/test/rust/src/schema.rs
  engine/utils/ocaml_of_json_schema/test/rust/src/tester.rs
Labels: engine
